body{
    background-color: #212121;
    border: 1px solid #848484;
    box-shadow: 0px 0px 5px #5a5a5a;
    width: 70%;
margin-left: 300px;
margin-right: 300px;
}
h1,h2, footer{
    text-align: center;
    color: #dddddd;
}
.container{
display: flex;
justify-content: center;
  align-items: center; 
}
ul
{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

li
{
    flex-basis: 10rem;
    margin: 0.3rem;
}

a
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #444444;
    background-color: #eae9e9;
    border-radius: 10px;
    width: 100px;
    height: 2px;


}
a:hover{
    background-color: gray;
    color: white;
}

.Notatki{
    text-align: center;
    color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid #848484;
    box-shadow: 0px 0px 5px #5a5a5a;
}
.Ocena{
    text-align: center;
    color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid #848484;
    box-shadow: 0px 0px 5px #5a5a5a;
}