body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #212121;
    border: 1px solid #848484;
    box-shadow: 0px 0px 5px #5a5a5a;
    width: 75%;
    margin-right: 300px;
    margin-left: 300px;
}
h1,h2, footer{
    text-align: center;
    color: #dddddd;
}
.container{
display: flex;
justify-content: center;
  align-items: center; 
}
ul
{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

li
{
    flex-basis: 10rem;
    margin: 0.3rem;
}

a
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #444444;
    background-color: #eae9e9;
    border-radius: 10px;
    width: 100px;
    height: 2px;


}
a:hover{
    background-color: gray;
    color: white;
}
label{
    display: flex;
    margin: 10px;
    color: white;
    width: 45%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
input:hover{
    background-color: #5a5a5a;
    color:white;
}
fieldset{
    display: flex;
    align-items: center;
    justify-content: center;
 flex-wrap: wrap;
 box-shadow: 0px 0px 5px #5a5a5a;
}
legend{
    color: white;
}

button{
    background-color: lightgreen;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
button:hover{
    background-color: green;
}
